.block-entity-browser-blockuw-ebr-copy-text {
  .content {
    padding: 1rem;
  }
}

.block-entity-browser-block.contained-width {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;

  .content {
    padding: 1rem 0;
  }
}
